$backgroundColor:rgba(141, 219, 201, 0.938);
body{
    pre {
    background: $backgroundColor;
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
    color:rgb(32, 92, 72) !important;
    font-weight: bold;
    text-align: center;
  }
}