.form {
  background: rgb(10, 10, 10);
margin-left: -130px;
margin-top: 50px;
 
}

form {
  display: inline;
  margin: auto;
  width: 200px;

  label {
  
    margin: 1rem 0;

    input {
      margin-left: 150px;
      height: 32px;
      margin-top: 50px !important;
      width: 500px !important;
      border-radius: 5px !important;
      float: left;
    }
    
    
    textarea {
      margin-left: 150px;
      margin-top: 50px !important; 
    }

    button {
      padding: 10px !important;
      margin-top: 50px !important;
      border-radius: 5px !important;
      clear: both;
    }

    &.methods {
      margin-left: 150px;

      span {
        margin-right: 85px !important;
        margin-top: 20px !important;
        margin-bottom: 50px !important ;
        display: inline-block;
        clear: both;
        cursor: pointer;
        margin-right: 1rem;
        padding: 0.25rem 0.5rem;
        background: #ccc;
        padding-left: 20px;
        padding-right: 20px;
        padding: 10px;
        border-radius: 5px;

        &:hover {
          background: rgba(26, 116, 93, 0.938);
        }

        &.active {
          background:rgb(255, 166, 0);
        }
      }
    }
  }
}