$backgroundColor:rgba(26, 116, 93, 0.938);
body{
    header {
    background: $backgroundColor;
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
    color:white !important;
    text-align: center;
  }
}