.history {
    position: absolute;
 
    top: 370px;
    background:rgba(26, 116, 93, 0.938);
    height: 500px;
    padding-right: 50px;
    text-align: center;
    width: 40.9% !important;
    overflow: auto;
    
  }
  .h2{
  
    color:rgb(255, 166, 0);
    font-weight: bolder;
font-size: xx-large;
  }

  .showresult{
    background :rgb(255, 166, 0); 
  }